.carousel-item.active,
.carousel-item .view {
    height: 100vh !important;
}

.carousel-item img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
}

.content h1 {
    font-size: 55px;
}

@media screen and (max-width: 320px) {
    .content h1 {
        font-size: 30px;
    }

    .carousel-item.active,
    .carousel-item .view {
        height: 50vh !important;
    }

    .carousel-item img {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }

}

@media screen and (min-width: 133px) and (max-width: 768px) {
    .content h1 {
        font-size: 30px;
    }

    .carousel-item.active,
    .carousel-item .view {
        height: 50vh !important;
    }

    .carousel-item img {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }

}

.content h5 {
    font-size: 23px;
    margin-left: 80px;
    margin-right: 80px;
}

@media screen and (max-width: 320px) {
    .content h5 {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px
    }

    .carousel-item.active,
    .carousel-item .view {
        height: 50vh !important;
    }

    .carousel-item img {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }

}

@media screen and (min-width: 133px) and (max-width: 768px) {
    .content h5 {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .carousel-item.active,
    .carousel-item .view {
        height: 50vh !important;
    }

    .carousel-item img {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }
}


@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

    .carousel-item.active,
    .carousel-item .view {
        height: 50vh !important;
    }

    .carousel-item img {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }
}


.homeCarousell {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}